# generals and indents
BreakBeforeBraces: Attach
ColumnLimit: 80
CommentPragmas: '^'
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
IndentWidth: 2
UseTab: Never

# language core
FixNamespaceComments: true
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: true
NamespaceIndentation: All

# for short description
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
